h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.739);
    text-align: center;
}
a{
  color: blueviolet;
}

table{
    border-color: white;
    background-color: black;
    color: white;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
