h1{ 
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

p{
    color: white;
    background-color: rgba(0, 0, 0, 0.727);
    font-size: small;
}


table{
    color: rgb(36, 165, 225);
    border-color: rgb(227, 252, 43);
}
