h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.739);
    border-style: double;
    border-color: ghostwhite;
}
a{
  color: rgb(6, 34, 86);
  background-color: rgb(255, 255, 255);
  border-style: dotted;
}

table{
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  background-color: azure;
  text-align: center;
}
